<?xml version="1.0" encoding="utf-8"?>
<basicAuth>
  <!--
  Only set dummy credentials here! Deploy the production credentials independently from the production binaries. Use hashed passwords like this:
  <user username="myuser" password="9f86d081884c7d659a2feaa0c55ad015a3bf4f1b2b0b822cd15d6c15b0f00a08" hashAlgorithm="sha256">
  -->
  <users>
    <user username="admin" password="test">
      <roles>
        <role name="MyRole" />
      </roles>
    </user>
  </users>
</basicAuth>