<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true">
  <targets>
    <target name="Console" xsi:type="ColoredConsole" layout="${message} ${exception:format=tostring}" />
    <target name="ServiceLogFile" xsi:type="File" layout="${longdate}|${level}|${message} ${exception:format=tostring}"
            fileName="E:\LogFiles\XProjectNamespaceX\Service.log"
            archiveFileName="E:\LogFiles\XProjectNamespaceX\archive\Service-{#}.log"
            archiveEvery="Day" archiveNumbering="DateAndSequence" />
    <target name="ApiRequestLogFile" xsi:type="File" layout="${longdate}|${level}${newline}${message}${newline}"
            fileName="E:\LogFiles\XProjectNamespaceX\ApiRequest.log"
            archiveFileName="E:\LogFiles\XProjectNamespaceX\archive\ApiRequest-{#}.log"
            archiveEvery="Day" archiveNumbering="DateAndSequence" />
  </targets>

  <rules>
    <logger name="Topshelf.*" minlevel="Info" writeTo="Console,ServiceLogFile" />
    <logger name="XProjectNamespaceX" minlevel="Info" writeTo="Console,ServiceLogFile" />
    <logger name="ApiRequest" minlevel="Warn" writeTo="Console,ApiRequestLogFile" />
  </rules>
</nlog>
