<?xml version="1.0"?>
<package xmlns="http://schemas.microsoft.com/packaging/2010/07/nuspec.xsd">
	<metadata>
		<id>XProjectNamespaceX.Client</id>
		<version>$version$</version>
		<authors>$author$</authors>
		<description>Client library for communicating with the XProjectNameX API.</description>
		<summary>Client library for communicating with the XProjectNameX API</summary>
		<requireLicenseAcceptance>false</requireLicenseAcceptance>
	</metadata>
</package>
