<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
  <!-- The name of the service allowed to issue JSON Web Tokens for access to this service. Also used to select the issuer certificate from the system certificate store. -->
  <!--<add key="JwtIssuer" value="auth-server" />-->

  <!-- The name of this service as used as an audience name in JSON Web Tokens. -->
  <add key="JwtAudience" value="XProjectNamespaceX" />

  <add key="MyServiceMySetting" value="abc" />
</appSettings>