<?xml version="1.0" encoding="utf-8"?>
<basicAuth>
  <users>
    <!-- Only set dummy credentials here! Deploy the production credentials independently from the production binaries. -->
    <user username="MyUser" password="changeit">
      <roles>
        <role name="MyRole" />
      </roles>
    </user>
  </users>
</basicAuth>